@model Test.Models.Budjet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Budjet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget_Sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget_Sum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale_Markup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale_Markup)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Budget }) |
    @Html.ActionLink("Back to List", "Index")
</p>
