@model Test.Models.Stock

@{
    ViewBag.Title = "Удаление";
}

<h2>Удалить</h2>

<h3>Вы уверены что хотите удалить запись?</h3>
<div>
    <h4>Сырьё</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_of_Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_of_Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Measurement_Unit.Name_MerUn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Measurement_Unit.Name_MerUn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
