@model IEnumerable<Test.Models.BuyStock>

@{
    ViewBag.Title = "Покупка сырья";
}

<h2>Сырьё</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Total_Amount)*@
            
            Сырьё
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Sum)*@
            Общее количество
            
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Date)*@
            Стоимость
            
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Employers.Name_of_Emp)*@
            Дата
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Stock.Name_of_Stock)*@
            Сотрудник
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.Name_of_Stock)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Amount)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employers.Name_of_Emp)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_BuyStock }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID_BuyStock }) |*@
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_BuyStock })
        </td>
    </tr>
}

</table>
